#participant-table, #history-table {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px #555252;
}

#history-table {
  /* margin-top: 10px; */
  box-shadow: none;
}



.tabulator-row.tabulator-selectable:hover {
  background-color: #ef000068;

  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.10px black;
  font-size: 1.1em;
}

#participant-table.tabulator .tabulator-header{
   border-bottom: 3px solid black

}

#participant-table .tabulator-col-content {
  color: white;
  background-color: #de0202da;
  -webkit-text-stroke: 0.15px white;
  font-size: 1.2em;
}

.check, .ex{
  background-color: white;
  border-radius: 50%;
}

.tabulator .tabulator-footer{
  background-color: #ED1C24
}

.tabulator .tabulator-footer .tabulator-page.active{
  background-color: #fdfafa;
  font-weight: bold;
  color: #ED1C24;
}

.tabulator .tabulator-footer .tabulator-page:not(.active){
  background-color: #000000;
  color: #fffdfd;
}

#footer{
  height: 25px;
}



.tabulator .tabulator-footer .tabulator-page:disabled {
  background-color: #000000;
  color: #fffdfd;
}