.form-check-input:checked {
  background-color: rgba(241, 12, 0, 0.25);
  border-color: rgba(241, 12, 0, 0.25);
}

#logo {
  width: 450px;
}

.form-select,
.form-control {
  border: none;
  box-shadow: 0px 0px 5px #838181, inset 0 0 5px hsla(0, 2%, 78%, 0.797);
}

.form-check-input:focus,
.form-control:focus,
.form-select:focus {
  border-color: rgba(241, 1, 1, 0.377);
  box-shadow: 0 0 8px 0.25rem rgba(202, 11, 1, 0.415);
}

.styled-hr {
  margin: 0 auto;
  opacity: 1;
  border: none;
  height: 7px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #7d5151ed 15%,
    rgba(108, 42, 42, 0.819) 75%
  );
  border-radius: 1rem;
  box-shadow: inset rgba(64, 26, 26, 0.25) 0 -3px 0, -0px 0px 5px #575656d0;
  transition: all 0.2s ease-in-out;
}

#install-app {
  position: absolute;
  top: 10px;
  right: 100px;
  /* display: none; */
  transition: 0.2s all ease-out;
}

#login {
  position: absolute;
  top: 10px;
  right: 20px;
  /* display: none; */
  transition: 0.2s all ease-out;
}

#login:hover {
  background-color: #ed1c24;
  transform: scale(1.1);
  box-shadow:   0px 0px 5px #838181, inset 0 0 5px hsla(0, 2%, 78%, 0.797);
}

#login:active {
  background-color: #ed1c24;
  transform: scale(1.05);
  box-shadow:   0px 0px 3px #545353, inset 0 0 3px hsla(0, 2%, 78%, 0.503);
}

.close-modal {
  color: #dc3545;
  font-size: 2em;
  /* -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.141); */
  user-select: none;
  margin: 0 20px;
  transition: 0.1s all ease-out;
  /* filter: drop-shadow(0 0 2px rgba(255, 254, 254, 0.752)); */
  /* background-color: white; */
  /* border-radius: 15%; */
  /* box-shadow: 0 0 3px rgba(165, 165, 165, 0.989); */
}

.close-modal:hover {
  color: #ff3b4f;
  /* -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.141); */
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.65));

  user-select: none;
  margin: 0 20px;
  cursor: pointer;
  transform: scale(1.2);
}

.close-modal:active {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.809));
}

@media screen and (max-width: 768px) {
  #logo {
    margin: 70px auto 20px auto;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    width: 400px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
