body {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/public/assets/images/background.jpg') repeat;
  background-size: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Media Queries */

@media screen  and (max-width: 600px) {
  #filter-row-2{
    flex-direction: column;
  }
  .checkIn-row{
    flex-direction: column;
  }
}