html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/public/assets/images/background.webp") fixed repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#logo {
  margin-top: 20px;
  width: 450px;
  transition: 0.2s all linear;
}

/* Media Queries */

@media screen and (max-width: 400px) {
  /* button[data-rr-ui-event-key="checkIn"] span {
    display: none;
  }
  button[data-rr-ui-event-key="checkIn"]::after {
    content: "In/Out";
  } */
  /* .nav-justified .nav-item {
    font-size: 0.7em;
  } */
}

@media screen and (max-width: 500px) and (min-width: 401px) {
  /* button[data-rr-ui-event-key="checkIn"] span {
    display: none;
  }
  button[data-rr-ui-event-key="checkIn"]::after {
    content: "In/Out";
  }
  .nav-justified .nav-item {
    font-size: 0.85em;
  } */
}

@media screen and (max-width: 600px) {
  #filter-row-2 {
    flex-direction: column;
  }
  .checkIn-row {
    flex-direction: column;
  }
  #logo {
    width: 400px;
  }
}

@media screen and (max-width: 700px) {
  #pace-title-col {
    width: 105px !important;
  }
  #attendance-title-col {
    width: 175px !important;
  }
  #mileage-title-col {
    width: 140px !important;
  }
}

@media screen and (max-width: 768px) {
  #duration-card .card-text {
    font-size: 1.2em !important;
    line-height: 1.75 !important;
  }
  #duration-card .card-title {
    font-size: 2em !important;
    line-height: 1.5 !important;
  }
}

@media screen and (max-width: 850px) {
  #logo {
    margin: 70px auto 20px auto;
  }
}
