body {
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/public/assets/images/background.jpg') repeat;
  background-size: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Media Queries */

@media screen  and (max-width: 600px) {
  #filter-row-2{
    flex-direction: column;
  }
  .checkIn-row{
    flex-direction: column;
  }

}

@media screen and (max-width: 700px){
  #pace-title-col {
    width: 105px !important;
  }
  #attendance-title-col{
    width: 175px !important;
  }
  #mileage-title-col{
    width: 140px !important;
  }

  #duration-card .card-text{
    font-size: 1.2em !important;
    line-height: 1.75 !important;
  }
}