#name-group {
  filter: drop-shadow(0px 0px 5px #9593937d);
}

#checkin-group {
  box-shadow: 0 0 10px #6461617d;
}

#clear-name {
  background-color: white;
  border: none;
  color: #ed1c24;
  font-size: 1.25em;
  box-shadow: 0px 0px 5px #838181, inset 0 0 5px #c8c6c6cb;
}

#clear-name:hover {
  background-color: #ed1c24;
}

#clear-name:hover > #name-x {
  color: white;
}

#checked-in.true-btn,
#checked-out.true-btn,
#checked-in.true-btn:focus,
#checked-out.true-btn:focus {
  font-size: 0.95em;

  background-color: green;
  margin: 0 5px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 5px #838181, inset 0 0 3px #c8c6c673;
}

#checked-in.false-btn,
#checked-out.false-btn,
#checked-in.false-btn:focus,
#checked-out.false-btn:focus {
  font-size: 0.95em;
  background-color: red;
  margin: 0 5px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 5px #838181, inset 0 0 3px #c8c6c673;
}

#checked-in.both-btn,
#checked-out.both-btn,
#checked-in.both-btn:focus,
#checked-out.both-btn:focus {
  background-color: #ffffff;
  font-size: 0.95em;
  margin: 0 5px;
  color: #ed1c24;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 5px #838181, inset 0 0 3px #c8c6c673;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button[aria-expanded="true"] {
  background-color: white;
  color: #ed1c24;
  font-weight: bold;
}

.accordion-button[aria-expanded="false"] {
  background-color: whitede21218b;
  color: #ed1c24;
}

.accordion-button:hover {
  background-color: #e70a0ad0;
  color: white;
  font-weight: bold;
}

#race-group {
  filter: drop-shadow(0px 0px 5px #716e6e7d);
  /* width: 98%; */
}

#table-stats > .stat-button {
  box-shadow: 0 0 12px #555252, inset 0 0 5px 5px #c2212195;
  border: none;
  background-color: #ed1c24;
  color: white;
}
